@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

footer {
    position:fixed !important;
    left:0px;
    bottom:0px;
    height:50px;
    width:100%;
    background: aliceblue;
 }

.navbarDropdown {
    z-index: 1;
}