{% extends "base2.html" %}
{% block title %}Create New Offer{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% if get_flashed_messages() %}
  {% for flash in get_flashed_messages() %}
      {{ flash }}
  {% endfor %}
{% endif %}
<h1>Create New Offer</h1>

<h2>{{ offer }}</h2>
<h2>{{ project }}</h2>

<form method="POST">
  {{ form.hidden_tag() }}
  <h1>Create Offer Name</h1>
  {{ form.offer_name.label() }}
  {{ form.offer_name() }}
  {{ form.metal_sheet_characteristics.label() }}
  {{ form.metal_sheet_characteristics() }}
  

  {{ form.submit}}
</form>

{% endblock %}
