{% extends "base2.html" %}
{% block title %}Suppliers{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

{% if get_flashed_messages() %}
{% for flash in get_flashed_messages() %}
    {{ flash }}
{% endfor %}
{% endif %}

<h1>Suppliers Table</h1>



<div class="row">
    <div class="col">

    </div>
    <div class="col-6">
        <form method="POST">
            {{ form.hidden_tag() }}
            <table class="table">
                <tr>    
                    <th>{{ form.supplier_name.label() }}</th>
                    <td>{{ form.supplier_name() }}</td>
                </tr>
                <tr>
                    <th>{{ form.supplier_info.label() }}</th>
                    <td>{{ form.supplier_info() }}</td>
                </tr>
                <tr>
                    <th>{{ form.supplier_address.label()}}</th>
                    <td>{{ form.supplier_address() }}</td>
                </tr>
                <tr>
                    <th>{{ form.supplier_about.label() }}</th>
                    <td>{{ form.supplier_about() }}</td>
                </tr>        
                <tr class = "d-flex justify-content-center">            
                    <th> {{ form.submit() }}</th>
                </tr>
            </table>
        </form>
    </div>
    <div class="col">

    </div>

</div>

    

<br>

{% if table %}
<table class="table table-bordered table-responsive-md col-12">
    <tr>
        <th>Item no.</th>
        <th>Supplier name</th>
        <th>Supplier info</th>
        <th>Supplier address</th>
        <th>About</th>
        <th>Actions</th>
    </tr>
    {% for item in table %}
    <tr>        
        <td>{{ item[0] }}</td>
        <td><a href="{{ url_for('supplier', supplier_name = item[1])}}">{{ item[1] }}</a></td>
        <td>{{ item[2] }}</td>
        <td>{{ item[3] }}</td>
        <td>{{ item[4] }}</td>
        <td><a href="#" class="btn btn-outline-secondary">Update</a>
            <!-- modal button  -->
        <button onclick="document.getElementById('{{item[1]}}').style.display='block'" class="btn btn-danger">Delete</button>

        <!-- start of modal -->
        <div id="{{item[1]}}" class="w3-modal">
          <div class="w3-modal-content">
            <header class="modal-header"> 
              <span onclick="document.getElementById('{{item[1]}}').style.display='none'" 
              class="w3-button w3-display-topright">&times;</span>
              <h2>Do you really want to delete - {{ item[1] }}</h2>
            </header> 
            <div class="w3-container grid text-center">
            <p>Note that this is ireversible</p>           
            <a href="{{ url_for('delete_supplier', supplier_name=item[1]) }}" class="btn btn-danger">Delete</a>         
            </div>          
          </div>
        </div>   
      </td>
      <!-- end of modal -->
    </tr>    
    {% endfor %}
</table>
{% endif %}

{% block javascript %}
<script>
// Get the modal
var modal = document.getElementsByClassName('w3-modal');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

{% endblock %}
  
{% endblock %}