{% extends "base2.html" %}
{% block title %}Update Clients{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  
<div class="container">
    {% if get_flashed_messages() %}
    {% for flash in get_flashed_messages() %}
        {{ flash }}
    {% endfor %}
    {% endif %}
    <h1>Clients</h1>
    {{ client }}
    
    <h1>Update Clients Clients</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.client_name.label() }}        
        {{ form.client_name(value=client[1]) }}
        <br>
        {{ form.client_identification.label() }}        
        {{ form.client_identification(value=client[2]) }}
        <br>
        {{ form.client_address.label() }}        
        {{ form.client_address(value=client[3]) }}
        <br>
        {{ form.client_email.label() }}        
        {{ form.client_email(value=client[4]) }}
        <br>
        {{ form.about.label() }}        
        {{ form.about(value=client[5]) }}
        <br>
        {{form.submit()}}
    </form>
    <br>
    
    <a href="{{ url_for('add_clients') }}" class="btn btn-primary">Clients Page</a>
    
  
{% endblock %}